<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sign-in.css" />
    <title>Signout or Reset Password</title>
  </head>
  <body>
    <h1>Signout Or Reset Password</h1>
    <div class="container">
      <!-- Signout button -->
      <a href="/api/users/logout"><button>Signout</button></a>
      <!-- Reset password button -->
      <a href="/api/users/reset-password"><button>Reset Password</button></a>
    </div>
  </body>
</html>
