<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign-in.css">
    <title>Token Verification Page</title>
</head>
<body>
    <h1>Token Verification</h1>
    <div class="container">
        <%if(errorMessage){ %>
            <div class="alert alert-danger manage-width" role="alert">
                <%= errorMessage %>
            </div>
        <%}%>
        <!-- Form that recieves the user credentials -->
        <form action="" method="post">
            <label for="token">Token:</label>
            <input type="text" name="token" id="token" placeholder="Enter your token here" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>